<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 0px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register</p>

                <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="mx-1 mx-md-4">
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="name" formControlName="name" class="form-control" placeholder="Your name" />
                      <div *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched">
                        <small class="error-message" *ngIf="myForm.get('name')?.errors?.['required']">Your Name is required.</small>
                        <small class="error-message" *ngIf="myForm.get('name')?.errors?.['minlength']">Your Name must be at least 3 characters
                          long.</small>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="email" formControlName="email" class="form-control" placeholder="Your email"/>
                      <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
                        <small class="error-message" *ngIf="myForm.get('email')?.errors?.['required']">Your Email is required.</small>
                        <small class="error-message" *ngIf="myForm.get('email')?.errors?.['email']">Invalid email format.</small>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-birthday-cake fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="number" id="age" formControlName="age" class="form-control" placeholder="Your age" />
                      <div *ngIf="myForm.get('age')?.invalid && myForm.get('age')?.touched">
                        <small class="error-message" *ngIf="myForm.get('age')?.errors?.['required']">Your age is required.</small>
                        <small class="error-message" *ngIf="myForm.get('age')?.errors?.['pattern']">Your must be 1 digits long.</small>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="phoneNo" formControlName="phoneNo" class="form-control" placeholder="Phone number" />
                      <div *ngIf="myForm.get('phoneNo')?.invalid && myForm.get('phoneNo')?.touched">
                        <small class="error-message" *ngIf="myForm.get('phoneNo')?.errors?.['required']">Phone Number is required.</small>
                        <small class="error-message" *ngIf="myForm.get('phoneNo')?.errors?.['pattern']">Phone Number must be 10 digits
                          long.</small>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" />
                      <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">
                        <small class="error-message" *ngIf="myForm.get('password')?.errors?.['required']">Password is required.</small>
                        <small class="error-message" *ngIf="myForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Repeat your password" />
                      <div *ngIf="myForm.hasError('mismatch') && myForm.get('confirmPassword')?.touched">
                        <small>Passwords must match.</small>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-shirt fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="tShirt">T shirt</label>
                      <select class="form-control" id="tShirt" formControlName="tShirt" name="tShirt" required>
                        <option value="XS">XS</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="2XL">2XL</option>
                        <option value="3XL">3XL</option>
                      </select>
                      <div *ngIf="myForm.get('tShirt')?.invalid && myForm.get('tShirt')?.touched">
                        <small class="error-message" *ngIf="myForm.get('tShirt')?.errors?.['required']">T Shirt is required.</small>
                        <small class="error-message" *ngIf="myForm.get('tShirt')?.errors?.['minlength']">T Shirt must be at least 3 characters long.</small>
                      </div>
                    </div>
                  </div>
                  
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-person-walking fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="name">Walk format</label>
                      <select class="form-control" id="walkFormat" formControlName="walkFormat" name="walkFormat" required>
                        <option value="2KM">2KM</option>
                        <option value="3KM">3KM</option>
                        <option value="5KM">5KM</option>
                      </select>
                      <div *ngIf="myForm.get('walkFormat')?.invalid && myForm.get('walkFormat')?.touched">
                        <small class="error-message" *ngIf="myForm.get('walkFormat')?.errors?.['required']">T Shirt is required.</small>
                        <small class="error-message" *ngIf="myForm.get('walkFormat')?.errors?.['minlength']">T Shirt must be at least 3 characters
                          long.</small>
                      </div>
                    </div>
                  </div>

                   <br>
                  <div class="form-check d-flex mb-5">
                    <input class="form-check-input me-2" type="checkbox" id="terms" formControlName="terms" />
                    <label class="form-check-label" for="terms">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg" [disabled]="!disableSubmitButton">Submit</button>
                  </div>
                </form>

                <form [formGroup]="myForm1" (ngSubmit)="onSubmit()" class="mx-1 mx-md-4">
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user-check fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="optNumber" formControlName="optNumber" class="form-control" placeholder="OTP number" />
                      <div *ngIf="myForm.get('optNumber')?.invalid && myForm.get('optNumber')?.touched">
                        <small class="error-message" *ngIf="myForm.get('optNumber')?.errors?.['passwordComplexity']">Password not matchecd</small>
                        <small class="error-message" *ngIf="myForm.get('optNumber')?.errors?.['passwordMatched']">Password matchecd</small>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" (click)="checkOtp()" class="btn btn-primary btn-lg" [disabled]="!disableRegisteredButton">Register</button>
                  </div>
                </form>

                <label class="form-check-label" for="login">
                  You already have an account? <a routerLink="">Login</a>
                </label>
              </div>

              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="assets/img/gallery/small/registermain.webp" class="img-fluid" alt="Sample image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>